body{
    margin: 0;
    padding: 10px;
}

main {
    margin: 0;
    padding: 0;
}

.container{
    color:red; 
   font-size:10px;
   font-family:Verdana;
   border:2px;
   border-color:blue;
   border-style:solid;
   width:200px; 
   height:100px
 }

 